{{!-- <div class="container mt-4">
    <div class="row">

        <div class="col-md-6">
            <h2 class="text-ceter" >Add products</h2>
            <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                <label for="">Name</label>
                <input type="text" name="name" id="" class="form-control" required="">

                  <label for="">Catogery</label>
                <input type="text" name="categery" id="" class="form-control" required="">

                  <label for="">Price</label>
                <input type="text" name="price" id="" class="form-control" required="">

                  <label for="">Discription</label>
                <input type="text" name="discription" id="" class="form-control" required="">

                  <label for="">image</label>
                <input type="file" name="image" id="" class="form-control" required="">

                <button type="submit"class="btn btn-success mt-4">Submit</button>
            </form>
        </div>
    </div>
</div> --}}

<section>
  <div class="container mt-3">
   

    
    <div class="row ">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
       
            <div class = "container">
                             <form action="/admin/add-product"  method="post" enctype="multipart/form-data">

            

            <div class="controls">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_name">name *</label>
                            <input id="form_name" type="text" name="name" class="form-control"  required="required" data-error="Firstname is required.">
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_lastname">Catogory *</label>
                            <input id="form_lastname" type="text" name="categery" class="form-control" required="required" data-error="Lastname is required.">
                                                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Price *</label>
                            <input id="form_email" type="number" name="price" class="form-control"  required="required" data-error="Valid email is required.">
                            
                        </div>
                    </div>
                  <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Discription *</label>
                            <input id="form_email" type="text" name="discription"  class="form-control"  required="required" data-error="Valid email is required.">
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Image *</label>
                                  <input type="file" name="image" id="" class="form-control" required="">
                            </div>

                        </div>


                    <div class="col-md-8 mt-4 ">
                        
                        <input type="submit" class="btn btn-success w-75  pt-2 btn-block
                            " value="Submit" >
                    
                </div>
          
                </div>


        </div>
         </form>
        </div>
            </div>


    </div>
        <!-- /.8 -->

    </div>
    <!-- /.row-->

</div>
</div>

</section>
<style>
  body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    }
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card{
	margin-left: 10px;
	margin-right: 10px;
}

</style>